<nav>
        <div id="Status">
          <h2>{{user.username}} You are logged in </h2>
            <button>
                <a href="/auth/logout">logout </a>
            </button>
            <button>
                <a href="/profile"> All done ? back to your new Profile</a>
            </button>
        </div>
</nav>

<h2> Hey {{user.username}} !</h2>

<ul> 
    <img >
    <li>Name: {{user.name}} </li>
    <li>Name: {{user.lastName}} </li>
    <li>Name: {{user.city}} </li>
    <li>Name: {{user.age}} </li>
    <li>Name: {{user.ailment}} </li>
</ul>

{{!-- here a logout button  --}}

