<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" /> 
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
</style>
  </head>

<header>

<div class="w3-top">
<div class="w3-bar w3-white w3-wide w3-padding w3-card">

    <a href="/" class="w3-bar-item w3-button">
    <b>DIA</b>
    ❤️</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
       {{#if user}} 
        {{!-- <h6 class="loggedIn">{{user.username}} You are logged in </h6>   --}}
         <a href="/profile" class="w3-bar-item w3-button">Profile</a>
      <a href="/auth/logout" class="w3-bar-item w3-button">Logout</a>
       {{else}}
      <a href="/auth/login" class="w3-bar-item w3-button">Login</a>
      <a href="/auth/signup" class="w3-bar-item w3-button">Sign up</a>
       {{/if}}
      <a href="/nutrition/create" class="w3-bar-item w3-button">Create your own post</a>
    </div>
    
  </div>
 </div> 

{{!-- 
 <nav>
    <div id="Status">
    <ul>
        {{#if user}} 
        <h6 class="loggedIn">{{user.username}} You are logged in </h6>        
        <span><a class="navTop" href="/profile">Profile</a></span>
         <span><a class="navTop" href="/auth/logout">Logout </a></span>
        {{else}}
         <span><a class="navTop"  href="/auth/login">Login</a></span>
        <span><a class="navTop" href="/auth/signup">Sign up</a></span> 
        {{/if}}
        <span><a class="navTop" href="/nutrition/create">Create your own post </a></span>
    </ul>
  
    </div>
</nav> --}}
</header>

  <body>



    {{{body}}}

    <script src="/js/script.js"></script>




<footer class="w3-padding-16 w3-bottom ">
<div class="navbar w3-green w3-card">
        <a href="/" class="active"> &#10150 Go back to start</a>
        <a href="/profile"> &#10150 Go to your Profile</a>
        <a href="/nutrition"> &#10150 See what your coummunity recommends</a>
</div>
</footer>
</div>

  </body>

</html>