
{{!-- each ___ -> name of ? --}}


<div> 
    <div> 
        <h2>Name:</h2> 
        <h2>{{appDescription.name}}</h2>
    </div>

    <div>
        <img src="{{imgPath}}" alt="Image for {{appDescription.title}}"height="200px"></img>
    </div>

	<div>
        <h4>Description:</h4>
	    <h4>{{appDescription.description}}</h4>
    </div>

    {{!-- <h6>{{owner}}</h6> --}}
    {{!-- <h6>{{timestamps}}</h6> --}}
	
    <div> 
    <h6>{{appDescription.ratings}}</h6>
    </div>

</div>


{{!-- 
{{AppDescription}}
<h2>{{AppDescription.title}}</h2> --}}