<nav>
        <div id="Status">
          {{#if user}}
          <h2>{{username}} You are logged in </h2>
          <button>
          <a href="/profile">See your profile</a>
          </button>
          {{else}}
              <button>
              <a href="/auth/login">log in here</a>
              </button>

              <button>
              <a href="/auth/signup">Sign up here</a>
              </button>
          {{/if}}
        </div>
</nav>

<h1>Ready to publish?</h1>

<div> 
    <div> 
        <h2>Name:</h2> 
        <h2>{{appDescription.name}}</h2>
    </div>

    <div>
        <img src="{{appDescription.imageUrl}}" alt="Image for {{appDescription.title}}"height="200px"></img>
    </div>

	<div>
        <h2>Description:</h2>
	    <h4>{{appDescription.description}}</h4>
    </div>


          <h2>Rating:</h2>
          <h4>{{appDescription.rating}} </h4>  
        <p class="star-rating">
            <span class="my-star star-1" data-star="1"></span>
            <span class="my-star star-2" data-star="2"></span>
            <span class="my-star star-3" data-star="3"></span>
            <span class="my-star star-4" data-star="4"></span>
            <span class="my-star star-5" data-star="5"></span>
            <input type="hidden" name="rating" readonly id="output">
        </p> 

        <script> 
            for(let i = 1; i <= 5; i++) {
                if(i <= {{appDescription.rating}}) {
                  document.querySelector('.star-'+ (i)).classList.add('is-active')
                }
            }
        </script>



    {{!-- <h6>{{owner}}</h6> --}}
    {{!-- <h6>{{timestamps}}</h6> --}}

	 <a href="/nutrition/edit/{{appDescription._id}}">Click to edit</a>


  <a href="/nutrition"> Save & See what your community recommends!</a>


</div>



{{!-- 
{{AppDescription}}
<h2>{{AppDescription.title}}</h2> --}}


    {{!-- <div class="rate">  
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>

        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>

        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>

        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>

        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label> --}}